<app-form-usuario (onSubmit)="create($event)"></app-form-usuario>




  <!-- <mat-form-field appearance="outline" class="d-block">
        <mat-label for="nombre">nombre</mat-label>
        
        <input matInput 
        type="text" 
        [(ngModel)]="usuario.nombres" 
        name="nombres">
    </mat-form-field>

    <mat-form-field appearance="outline" class="d-block">
        <mat-label for="apellido">apellido</mat-label>
        
        <input matInput type="text" 
        [(ngModel)]="usuario.apellidos" 
        name="apellidos">
    </mat-form-field>

    <mat-form-field appearance="outline" class="d-block">
        <mat-label for="email">email</mat-label>
        
        <input matInput type="text" 
        [(ngModel)]="usuario.email" 
        name="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="d-block">
        <mat-label for="password">password</mat-label>
        
        <input matInput type="password" 
        [(ngModel)]="usuario.password" 
        name="password">
    </mat-form-field>


    
    <h4>Seleccionar Rol</h4>
    <mat-form-field  appearance="outline" class="d-block">
    <mat-label>Rol</mat-label>
    <mat-select [(ngModel)]="usuario.rol" name="rol">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
    </mat-select>
    </mat-form-field>

     -->