
<app-form-usuario (onSubmit)="update($event)" [usuario]="usuario" *ngIf="usuario"></app-form-usuario>

  <!--
<form (ngSubmit)="update()" *ngIf="usuario">
  
    <div>
        <label for="nombre">nombre</label>
        <input type="text" [(ngModel)]="usuario.nombre" name="nombre">
    </div>
    <div>
        <label for="apellido">apellido</label>
        <input type="text" [(ngModel)]="usuario.apellido" name="apellido">
    </div>
    <div>
        <label for="nombreCompleto">nombreCompleto</label>
        <input type="text" [(ngModel)]="usuario.nombreCompleto" name="nombreCompleto">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" [(ngModel)]="usuario.email" name="email">


    <button class="button">Create User</button>
</form>
    </div>
-->