<div class="banner">
    <div class="overlay"></div>
    <div class="text">
        <h1 class="title">EBook Store</h1>
        <p class="subtitle">
            Encuentra el libro digital perfecto para ti y comienza
            a aprender sin límites.
        </p>
    </div>
</div>

<div class="container">
    <h1>Ultimos libros</h1>
  <div class="row">
    <div *ngFor="let libro of ultimosLibros" class="col-md-4 mb-3">
      <app-libro-card [libro]="libro"></app-libro-card>
    </div>
  </div>
</div>
